# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build and cache
.next/
out/
build/

# Production
/build
/dist

# Misc
.DS_Store
*.pem

# Env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
