CREATE TABLE IF NOT EXISTS shipping_settings (
    id INT PRIMARY KEY DEFAULT 1,
    standard_price NUMERIC NOT NULL DEFAULT 0,
    express_price NUMERIC NOT NULL DEFAULT 10,
    is_free_shipping BOOLEAN NOT NULL DEFAULT false,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now())
);

INSERT INTO shipping_settings (id, standard_price, express_price, is_free_shipping) 
VALUES (1, 0, 10, false)
ON CONFLICT (id) DO NOTHING;

ALTER TABLE shipping_settings ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Public read access" ON shipping_settings FOR SELECT USING (true);
CREATE POLICY "Admin write access" ON shipping_settings FOR ALL USING (auth.role() = 'authenticated');

